/*///// GENERAL //////*/

@font-face {
  font-family: "DynaPuff";
  src: url("../assets/fonts/DynaPuff/DynaPuff-Regular.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: "DynaPuff";
}



/*///// VOLUME //////*/










/*///// HOME //////*/

#info-page {
  position: absolute;
  top: 20px;
  right: 20px;
  width: auto;
  height: auto;
  z-index: 500;
}

#info-page img {
  width: 60px;
}

#background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

#bg-image-home,
#bg-video-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
}

#bg-video-home {
  opacity: 0;
  pointer-events: none;
}

#bg-video-home.active {
  opacity: 1;
  pointer-events: auto;
}

#bg-image-home.fade-out {
  opacity: 0;
}

#bored-btn {
  position: fixed;
  bottom: 30VH;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  background: #ff6600;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  font-family: "DynaPuff";
}

#quote-home {
  position: fixed;
  bottom: 17VH;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  z-index: 15;
}







/*///// REPAIR //////*/

#main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#yellow-circle-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none; 
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.top-video {
   position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 9999;
}



/* DRAG */
.video-button {
  position: absolute;
  width: 65px;
  height: 65px;
  object-fit: contain;
  cursor: grab;
  z-index: 10;
}

.drop-zone {
  position: absolute;
  width: 35px;
  height: 35px;
  pointer-events: none;
  border-radius: 50%; 
  /* See zone : */
  /* border: 2px dashed #ff00c8;
  background-color: rgba(255, 0, 162, 0.2); */
}



#main-video {
  transition: opacity 0.5s ease;
  opacity: 1;
}

#main-video.fade-out {
  opacity: 0;
}